<div>
    <h> All post</h>
    {{#posts}}
        <p>{{user.email}}</p>
        <p> {{post}}</p>
    {{/posts}}
    <form action="/users" method="get">
        <input type="hidden" name="email" value={{userEmail}}>
        <input type="submit"/>
    </form>
</div>