<div>
    <h1>User Profile</h1>
    <p>{{name}}</p>
    <p>{{email}}</p>
    <form action="/tweets" method="get">
        <input hidden name="email" value={{email}}>
        <input value="tweets" type="submit"/>
    </form>
    <form action="/fetchUser" method="get">
        <input hidden name="email" value={{email}}>
        <input value="users" type="submit"/>
    </form>
</div>