<h2>Select your post visibility option</h2>
<form action="/setting" method="post">

    <label for="email">Email:</label><br>
    <input type="text" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password"><br>
    <label for="visibility">Visibility</label><br>
    <input type="text" name="visibility" value="FRIEND"><br>
    <input type="submit">
</form>