<div>
    <h1>List of users</h1>
    {{#users}}
        <h1>USER</h1>
       name:     {{name}}
          email:   {{email}}
        <form method="post" action="/friend">

            <input type="hidden" name="userEmail" value={{userEmail}}>
            <input type="hidden" name="password" value={{userPassword}}>
            <input type="hidden" name="friendEmail" value={{email}}>
            <input type="submit" value="Friend">
        </form>
    {{/users}}
</div>